<h1>Projects</h1>

<div class="btn-area">
  <a href="<%= new_project_path %>" class="button register" style="float: right">CREATE PROJECT</a>
</div>

<div class="table-responsive">
  <table class='table'>
    <thead>
      <tr>
        <td>管理番号</td>
        <td>案件名</td>
        <td>責任者</td>
        <td>作成日</td>
        <td>最終更新日</td>
        <td>ステータス</td>
        <td></td>
      </tr>
    </thead>

    <tbody>
      <% @projects.each do |project| %>
        <tr>
          <td><%= project.code %></td>
          <td><%= link_to project.title, developers_path %></td>
          <td><%= project.owner %></td>
          <td><%= project.created_at.strftime('%Y-%m-%d') %></td>
          <td><%= project.updated_at.strftime('%Y-%m-%d') %></td>
          <td><%= project.status %></td>
          <td></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<div>

<div class="line"></div>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
<div class="line"></div>

<div class="btn-area">
  <button class="register button">登録</button>
  <button class="save button">保存</button>
  <button class="cancel button">キャンセル</button>
  <button class="generic button">戻る</button>
  <button class="warning button">注意</button>
</div>

<div class="btn-area">
  <button class="register button">Create</button>
  <button class="save button">Save</button>
  <button class="cancel button">Warning</button>
  <button class="generic button">Back</button>
  <button class="warning button">Caution</button>
</div>
