<h1>Projects</h1>

<div class="btn-area">
  <a href="<%= new_project_path %>" class="button register" style="float: right">CREATE PROJECT</a>
</div>

<div class="table-responsive">
  <table class='table projects-table'>
    <thead>
      <tr>
        <td>管理番号</td>
        <td>案件名</td>
        <td>責任者</td>
        <td>作成日</td>
        <td>更新日</td>
        <td>ステータス</td>
        <td></td>
      </tr>
    </thead>

    <tbody>
      <% @projects.each do |project| %>
        <tr>
          <td><%= project.code %></td>
          <td style="width: 45%;"><%= project.title %></td>
          <td><%= project.owner %></td>
          <td><%= project.created_at.strftime('%Y-%m-%d') %></td>
          <td><%= project.updated_at.strftime('%Y-%m-%d') %></td>
          <td><%= get_status project.id %></td>
        </tr>
        <tr>
          <td  colspan="6">
            <div class="mode-btn-area">
              <a href="<%= developers_path(project, 1) %>" class="answer-mode developer ok">Developer</a>
              <a href="<%= managers_path(project, 1) %>" class="answer-mode manager revision">Manager</a>
              <a href="<%= quality_controls_path(project, 1) %>" class="answer-mode quality-control error">Quality Control</a>
              <a href="<%= projects_download_csv_path(project) %>" class="csv-download"><i class="fas fa-download"></i></a>
            </div>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<div class="btn-area">
  <%= paginate @projects %>
</div>
