<h1 class="answer-mode manager">Manager MODE</h1>

<div id="main">
  <%= form_for @project, url: managers_path do |f| %>
    <div class="mb-3">
      <span class="sub-title">Project:&nbsp;</span><%= @project.title %>
      <div class="name-text">
        <span class="sub-title">Manager:&nbsp;</span>
        <%= f.text_field :manager_name, max_length: 255, class: 'form-control' %>
      </div>
    </div>

    <div class="line"></div>

    <div>
      <%= f.fields_for :manager_answers, f.object.manager_answers.where(section_id: @section_id) do |answer| %>

        <%= render partial: '/commons/quality_points_answers', locals: {answer: answer} %>

      <% end %>
    </div>

  <% end %>
</div>

<%= render partial: '/commons/comment_modal' %>
