<!-- Sidebar  -->
<nav id="sidebar">
  <div class="sidebar-header">
    <a href="<%= root_path %>"><h3>Gamera</h3></a>
    <a href="<%= root_path %>"><strong>GM</strong></a>
    <button type="button" id="sidebarCollapse" class="navbar-btn">
      <span></span>
      <span></span>
      <span></span>
    </button>
  </div>

  <ul class="list-unstyled components">
    <% icons = {image: 1, briefcase: 2, question: 3, plane: 4} %> 
    <% Section.all.order(:id).each do |section| %>
      <li>
        <a href="<%= developers_path(@project.id, section.id) %>">
          <i class="fas fa-<%= icons.key(section.id) %>"></i>
          <span><%= section.name %></span>
        </a>
      </li>
    <% end %>
  </ul>
</nav>
